body {
  font-family: "PT Mono", monospace;
}

form {
  width: -webkit-fill-available;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  position: relative;
  vertical-align: text-bottom;
  width: 60px;
}

p {
  padding-top: 5px;
  font-size: small;
}

.container {
  width: 50%;
}

.card {
  border-radius: 10px;
  border: 1px solid rgb(0, 162, 255);
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

.card-body {
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgba(133, 132, 132, 0.349);
  border-radius: 4px;
}

.currentWeather {
  text-align: left;
  margin-top: 30px;
  margin-left: 70px;
}

.currentCity {
  font-size: 25px;
}
.currentDay {
  font-size: 18px;
}

#currentTemp {
  font-size: 40px;
  font-weight: 900px;
  vertical-align: text-bottom;
  position: relative;
}

.extraWeatherInfo {
  margin-top: 120px;
  margin-left: 50px;
}
#searchButton {
  width: 100px;
}
#units {
  position: absolute;
  font-size: x-large;
}
.forecast {
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 20px;
  margin-left: 70px;
}

#minTemp {
  font-size: medium;
}
#maxTemp {
  font-size: medium;
}
li.emoji {
  font-size: 40px;
}
